.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.col-left {
  float: left;
}

.col-right {
  float: right;
}

.contact-item {
  float: left;
  margin-top: 15px;
  width: 225px;
}

.descriptions {
  padding-left: 20px;
  list-style: circle;
}

.header {
	font-family: "Lucida Console", Monaco, monospace;
}

.light {
  color: #aaa;
  font-size: 12px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.page {
  width: 900px;
  min-height: 29.7cm;
  margin: 5px auto;
  background: white;
  padding: 20px 50px;
}

.row:after {
  clear: both;
}

.row:before, .row:after {
  content: "";
  display: table;
}

.section {
  border-bottom: 1px solid #333333;
  padding: 0px 0 0px;
}

.section-content {
  width: 95%;
  line-height: 21px;
  margin: 5px 0 5px;
  padding: 0px 10px;
}

.section-header {
  padding: 0 0 0 10px;
  text-align: center;
  text-transform: uppercase;
}

ul.skills {
  float: left;
  width: 15%;
  padding-left: 0px;
  margin: 4px 20px 0 0;
}

ul.skills li {
  list-style: none;
  font-size: 16px;
  margin-bottom: 5px;
}

.skills-section-content {
	width: 80%;
	line-height: 21px;
}

.title {
  font-style: italic;
}
